@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:200');

html, body, #root, main {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url('bg.jpeg');
  background-repeat: no-repeat;
  background-position: right; 
  background-size: cover;
}

body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background-image: url('bg.jpeg');
  background-position: right; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .logo span {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  height: 40px;
  position: relative;
  top: -10px;
}
header .logo img {
  margin: 0 5px 0 5px;
}

